.heraldry-super {
	stroke: black;
	stroke-width: 5;
}

.heraldry-ermine {
	fill: url(#ermine);
}

.heraldry-ermine.bend {
	fill: url(#ermine-bend);
}

.heraldry-ermine.bend-sinister {
	fill: url(#ermine-sinister);
}

.heraldry-ermines {
	fill: url(#ermines-bw);
}

.heraldry-or {
	fill: url(#or-bw);
}

.heraldry-argent {
	fill: white;
}

/* azure = - */
/* gules = | */
/* vert = \ */
/* purpure = / */

.heraldry-azure {
	fill: url(#azure-bw);
}

.heraldry-vert {
	fill: url(#vert-bw);
}

.heraldry-gules {
	fill: url(#gules-bw);
}

.heraldry-purpure {
	fill: url(#purpure-bw);
}

/* sable = + */

.heraldry-sable {
	fill: url(#sable-bw);
}

.heraldry-sable.heraldry-rotation1,
.heraldry-sable.heraldry-rotation3,
.heraldry-sable.heraldry-rotation5,
.heraldry-sable.heraldry-rotation7 {
	fill: url(#sable-bend);
}
