.heraldry-super {
	stroke: black;
	stroke-width: 5;
}

.heraldry-ermine {
	fill: url(#ermine);
}

.heraldry-ermines {
	fill: url(#ermines-bw);
}

.heraldry-or {
	fill: url(#or-bw);
}

.heraldry-argent {
	fill: white;
}

/* azure = - */
/* gules = | */
/* vert = \ */
/* purpure = / */

.heraldry-azure,
.heraldry-azure.heraldry-rotation4,
.heraldry-vert.heraldry-rotation3,
.heraldry-vert.heraldry-rotation7,
.heraldry-gules.heraldry-rotation2,
.heraldry-gules.heraldry-rotation6,
.heraldry-purpure.heraldry-rotation1,
.heraldry-purpure.heraldry-rotation5 {
	fill: url(#azure-bw);
}

.heraldry-azure.heraldry-rotation1,
.heraldry-azure.heraldry-rotation5,
.heraldry-azure.heraldry-rotation3.heraldry-mirrored,
.heraldry-azure.heraldry-rotation7.heraldry-mirrored,
.heraldry-vert,
.heraldry-vert.heraldry-rotation4,
.heraldry-vert.heraldry-rotation2.heraldry-mirrored,
.heraldry-vert.heraldry-rotation6.heraldry-mirrored,
.heraldry-gules.heraldry-rotation3,
.heraldry-gules.heraldry-rotation7,
.heraldry-gules.heraldry-rotation1.heraldry-mirrored,
.heraldry-gules.heraldry-rotation5.heraldry-mirrored,
.heraldry-purpure.heraldry-rotation2,
.heraldry-purpure.heraldry-rotation6,
.heraldry-purpure.heraldry-mirrored,
.heraldry-purpure.heraldry-rotation4.heraldry-mirrored {
	fill: url(#vert-bw);
}

.heraldry-azure.heraldry-rotation2,
.heraldry-azure.heraldry-rotation6,
.heraldry-vert.heraldry-rotation1,
.heraldry-vert.heraldry-rotation5,
.heraldry-gules,
.heraldry-gules.heraldry-rotation4,
.heraldry-purpure.heraldry-rotation3,
.heraldry-purpure.heraldry-rotation7 {
	fill: url(#gules-bw);
}

.heraldry-azure.heraldry-rotation3,
.heraldry-azure.heraldry-rotation7,
.heraldry-azure.heraldry-rotation1.heraldry-mirrored,
.heraldry-azure.heraldry-rotation5.heraldry-mirrored,
.heraldry-vert.heraldry-rotation2,
.heraldry-vert.heraldry-rotation6,
.heraldry-vert.heraldry-mirrored,
.heraldry-vert.heraldry-rotation4.heraldry-mirrored,
.heraldry-gules.heraldry-rotation1,
.heraldry-gules.heraldry-rotation5,
.heraldry-gules.heraldry-rotation3.heraldry-mirrored,
.heraldry-gules.heraldry-rotation7.heraldry-mirrored,
.heraldry-purpure,
.heraldry-purpure.heraldry-rotation4,
.heraldry-purpure.heraldry-rotation2.heraldry-mirrored,
.heraldry-purpure.heraldry-rotation6.heraldry-mirrored {
	fill: url(#purpure-bw);
}

/* sable = + */

.heraldry-sable,
.heraldry-sable.heraldry-rotation2,
.heraldry-sable.heraldry-rotation4,
.heraldry-sable.heraldry-rotation6 {
	fill: url(#sable-bw);
}

.heraldry-sable.heraldry-rotation1,
.heraldry-sable.heraldry-rotation3,
.heraldry-sable.heraldry-rotation5,
.heraldry-sable.heraldry-rotation7 {
	fill: url(#sable-bend);
}
