.heraldry-super {
	stroke: black;
	stroke-width: 5;
}

.heraldry-ermine {
	fill: url(#ermine);
}

.heraldry-ermine.bend {
	fill: url(#ermine-bend);
}

.heraldry-ermine.bend-sinister {
	fill: url(#ermine-sinister);
}

.heraldry-ermines {
	fill: url(#ermines);
}

.heraldry-ermines.bend {
	fill: url(#ermines-bend);
}

.heraldry-ermines.bend-sinister {
	fill: url(#ermines-sinister);
}

.heraldry-or {
	fill: yellow;
}

.heraldry-argent {
	fill: white;
}

.heraldry-azure {
	fill: blue;
}

.heraldry-gules {
	fill: red;
}

.heraldry-vert {
	fill: green;
}

.heraldry-purpure {
	fill: purple;
}

.heraldry-sable {
	fill: black;
}

.heraldry-tenny {
    fill: orange;
}

.heraldry-brown {
    fill: #7c3e0e;
}

.heraldry-sanguine {
    fill: #7c3030;
}
