@font-face {
	font-family: "medieval";
	src: url("../fonts/bloodandblade.ttf");
}

@font-face {
	font-family: "mInitial";
	src: url("../fonts/GoudyInitialen.ttf");
}

/*make body element actually cover 100% of window height* /
body, html {
 /*height: 100%;* /
 padding: 0;
}*/

html {
	font-size: 16px;
	font-family: "medieval", serif;
	background-image: url("../images/erminesmall.svg");
	background-color:  #FFFFFF;
	background-size: 50px;
	margin: 0;
	color:#FFFFFF;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	background-color: #0000FF;
	position: relative;
}

body, #menuContainer {
	max-width: 600px;
}

#content {
	min-height:100vh;
	box-sizing: border-box;
	padding: 15px 20px 5px 20px;
}

p, li, a {
	line-height: 1.5;
	letter-spacing: 1px;
}

/*p::first-letter {
	font-family: "mInitial","medieval",serif;
	font-size: 35px;
}*/

.console {
	background-color: #000000;
	border: 6px solid #CFB53B;
	line-height: 1;
	font-family: monospace;
	color: #00FF00;
}

h1 {
	margin: 0;
	color: #FFFF00;
	text-shadow: 3px 3px 1px black;
	font-weight: normal;
	font-size: 60px;
	text-align: left;
}

h1::first-letter {
	font-family: "mInitial","medieval",serif;
	font-size: 100px;
}

#heraldryHead {
	padding: 0px 0 0 0;
}

h2 {
	margin: 20px 0;
	color: #FFFF00;
	text-shadow: 3px 3px 1px black;
	font-weight: normal;
	font-size: 50px;
	text-align: left;
}

h2::first-letter {
	font-family: "mInitial","medieval",serif;
	font-size: 85px;
}

#engineHead {
	margin: 0 0 15px 0;
	text-indent:1.75em;
}

img {
	display: block;
	margin: 0 auto;
}

input, select, textarea, button{
	font-family:inherit;
	font-size:inherit;
}

.clear { clear: both; }

.invisible {
	display : none;
}

#wrapper {
	display: flex;
	margin: 5px 0;
}
#left {
	flex: 1 1 75%; /*flex-grow flex-shrink flex-basis*/
}
#middle {
	flex: 0 0 auto;
	padding:0.5em;
}
#right {
	flex: 0 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#shapeSelect {
	padding-bottom: 5px;
}

#styleSelect {
	border-top: 2px solid black;
	padding-top: 5px;
}

#blazonButton {
	font-size:20pt;
	width:100%;
}

#buttonContainer {
	margin: 20px 0;
}

#blazonText {
	background-color:black;
	color:white;
	resize: none;
	border:5px solid black;
	width:100%;
	height:100%;
	box-sizing: border-box;
}

#escutcheonContainer {
	max-width: 100%;
	max-height: 100vh;
}

#syntax {
	margin: 20px 0;
	/*display: none;*/
}

#movable_charges{
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

#mainHead {
	max-height:150pt;
}

.heraldry-invisible {
	fill:none;
}

#menuContainer {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

#menuButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	opacity: 0.35;
	margin: 5px 5px;
	z-index: 2;
	cursor: pointer;
	fill: black;
	transition: fill 0.4s;
}

#menuButton:hover {
	fill: rgb(200,200,200);
	transition: fill 0.4s;
}

#sideMenu {
	height: 100vh;
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: grey;
	overflow: hidden;
	box-shadow: -10px 0 10px 1px rgba(0, 0, 0, .5);
	font-family: serif;
}

svg, div {
	margin: 0;
	padding: 0;
}

.menu-item {
	background-color: rgb(100,100,100);
	font-size:20px;
	margin: 10px 0px 10px 40px;
	padding: 5px 25px;
	border-radius:30px 0 0 30px;
	cursor: pointer;
	color: inherit;
	text-decoration:inherit;
	width: 100%;
	display: block;
	line-height: 1.5;
	letter-spacing: 1px;
	transition: background-color 0.4s, margin 0.4s, box-shadow 0.4s;
	box-sizing: border-box;
}

.menu-item:hover {
	background-color: rgb(110,110,110);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
	margin: 10px 0px 10px 20px;
	transition: background-color 0.4s, margin 0.4s, box-shadow 0.4s;
}

.menu-item.active {
	background-color: rgb(110,110,110);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
	margin: 10px 0px 10px 20px;
}

/*
#toggleSyntax {
	background-color: rgb(100,100,120);
}

#toggleSyntax:hover {
	background-color: rgb(110,110,140);
}*/

.showing#toggleSyntax {
	background-color: rgb(100,120,100);
}

.showing#toggleSyntax:hover {
	background-color: rgb(110,140,110);
}

#topMenuSpacer {
	padding:30px;
}

#innerMenu {
	width: 300px;
}

.heraldry-charge {
	stroke-width: 0.3;
}
